body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1040_img.mouseDown {
}
#u1040.mouseDown {
}
#u1041 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1042 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1042_img.mouseDown {
}
#u1042.mouseDown {
}
#u1043 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1044 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1044_img.mouseDown {
}
#u1044.mouseDown {
}
#u1045 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1046 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1046_img.mouseDown {
}
#u1046.mouseDown {
}
#u1047 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1048 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1054 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1056 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:37px;
  top:55px;
  width:252px;
  height:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:2px;
  top:4px;
  width:248px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1062 {
  position:absolute;
  left:43px;
  top:58px;
  width:15px;
  height:15px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:20px;
  top:96px;
  width:375px;
  height:476px;
  overflow:hidden;
  touch-action:none;
}
#u1064_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1064_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1065 {
  position:absolute;
  left:6px;
  top:-11px;
  width:365px;
  height:940px;
  overflow:hidden;
}
#u1065_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
}
.u1067 {
  position:absolute;
  left:21px;
  top:10px;
  width:291px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
.u1068 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1069_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:365px;
  height:5px;
}
.u1069 {
  position:absolute;
  left:0px;
  top:105px;
  width:362px;
  height:2px;
}
.u1070 {
  position:absolute;
  left:2px;
  top:-7px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1071 {
  position:absolute;
  left:21px;
  top:53px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1072 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1073 {
  position:absolute;
  left:21px;
  top:35px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1074 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1075 {
  position:absolute;
  left:21px;
  top:73px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1076 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:107px;
}
#u1066-2 {
  position:absolute;
  left:0px;
  top:107px;
  width:362px;
  height:107px;
}
#u1066-3 {
  position:absolute;
  left:0px;
  top:214px;
  width:362px;
  height:107px;
}
#u1066-4 {
  position:absolute;
  left:0px;
  top:321px;
  width:362px;
  height:107px;
}
#u1066-5 {
  position:absolute;
  left:0px;
  top:428px;
  width:362px;
  height:107px;
}
#u1066-6 {
  position:absolute;
  left:0px;
  top:535px;
  width:362px;
  height:107px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u1077 {
  position:absolute;
  left:299px;
  top:56px;
  width:89px;
  height:22px;
  text-align:right;
}
#u1078 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1079 {
  position:absolute;
  left:331px;
  top:53px;
  width:25px;
  height:25px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1081 {
  position:absolute;
  left:331px;
  top:552px;
  width:50px;
  height:50px;
  color:#FF9900;
}
#u1082 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
