body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u1381 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1383 {
  position:absolute;
  left:21px;
  top:41px;
  width:373px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1384 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1385 {
  position:absolute;
  left:33px;
  top:79px;
  width:349px;
  height:1px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1387 {
  position:absolute;
  left:33px;
  top:56px;
  width:16px;
  height:16px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389 {
  position:absolute;
  left:30px;
  top:92px;
  width:360px;
  height:85px;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:60px;
}
#u1392 {
  position:absolute;
  left:89px;
  top:0px;
  width:87px;
  height:60px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u1394 {
  position:absolute;
  left:176px;
  top:0px;
  width:91px;
  height:60px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:22px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
}
#u1396 {
  position:absolute;
  left:267px;
  top:0px;
  width:88px;
  height:60px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:60px;
  width:89px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u1399 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u1400 {
  position:absolute;
  left:89px;
  top:60px;
  width:87px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u1401 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u1402 {
  position:absolute;
  left:176px;
  top:60px;
  width:91px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u1403 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u1404 {
  position:absolute;
  left:267px;
  top:60px;
  width:88px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u1405 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1406 {
  position:absolute;
  left:58px;
  top:110px;
  width:32px;
  height:32px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1408 {
  position:absolute;
  left:148px;
  top:110px;
  width:32px;
  height:32px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1410 {
  position:absolute;
  left:238px;
  top:110px;
  width:32px;
  height:32px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1412 {
  position:absolute;
  left:328px;
  top:110px;
  width:32px;
  height:32px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414 {
  position:absolute;
  left:21px;
  top:638px;
  width:379px;
  height:54px;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u1416 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1417 {
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u1418 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u1419 {
  position:absolute;
  left:187px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u1420 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1421 {
  position:absolute;
  left:281px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u1422 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1424 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1425 {
  position:absolute;
  left:94px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1426 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1427 {
  position:absolute;
  left:187px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1428 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1429 {
  position:absolute;
  left:281px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1430 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1431 {
  position:absolute;
  left:55px;
  top:643px;
  width:25px;
  height:25px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1433 {
  position:absolute;
  left:147px;
  top:640px;
  width:32px;
  height:32px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u1435 {
  position:absolute;
  left:238px;
  top:640px;
  width:32px;
  height:28px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1437 {
  position:absolute;
  left:336px;
  top:643px;
  width:25px;
  height:25px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1439 {
  position:absolute;
  left:22px;
  top:637px;
  width:374px;
  height:1px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441 {
  position:absolute;
  left:21px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1442 {
  position:absolute;
  left:114px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1443 {
  position:absolute;
  left:207px;
  top:638px;
  width:96px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1444 {
  position:absolute;
  left:303px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:210px;
}
#u1445 {
  position:absolute;
  left:32px;
  top:360px;
  width:352px;
  height:210px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:97px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:120px;
}
#u1447 {
  position:absolute;
  left:29px;
  top:210px;
  width:353px;
  height:120px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:52px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
