body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:20px;
  top:12px;
  width:375px;
  height:640px;
}
#u5 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6 {
  position:absolute;
  left:124px;
  top:153px;
  width:190px;
  height:35px;
  text-align:left;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000066;
  text-align:right;
}
#u8 {
  position:absolute;
  left:23px;
  top:150px;
  width:86px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000066;
  text-align:right;
}
#u9 {
  position:absolute;
  left:0px;
  top:13px;
  width:86px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000066;
  text-align:right;
}
#u10 {
  position:absolute;
  left:52px;
  top:221px;
  width:57px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000066;
  text-align:right;
}
#u11 {
  position:absolute;
  left:0px;
  top:13px;
  width:57px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12 {
  position:absolute;
  left:124px;
  top:225px;
  width:190px;
  height:35px;
  text-align:left;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:124px;
  top:390px;
  width:190px;
  height:39px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#000066;
}
#u15 {
  position:absolute;
  left:124px;
  top:320px;
  width:57px;
  height:41px;
  font-size:13px;
  text-decoration:underline;
  color:#000066;
}
#u16 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#000066;
}
#u17 {
  position:absolute;
  left:195px;
  top:320px;
  width:57px;
  height:41px;
  font-size:13px;
  text-decoration:underline;
  color:#000066;
}
#u18 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:124px;
  top:272px;
  width:100px;
  height:16px;
  color:#000066;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000066;
}
#u21 {
  position:absolute;
  left:257px;
  top:429px;
  width:57px;
  height:41px;
  font-size:13px;
  color:#000066;
}
#u22 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:89px;
  top:34px;
  width:300px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:108px;
  top:30px;
  width:227px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:0px;
  top:15px;
  width:227px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
}
#u27 {
  position:absolute;
  left:108px;
  top:68px;
  width:197px;
  height:25px;
  font-size:11px;
  color:#999999;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u29 {
  position:absolute;
  left:28px;
  top:24px;
  width:70px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
