body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1194 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  position:absolute;
  left:23px;
  top:43px;
  width:372px;
  height:88px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:36px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1198 {
  position:absolute;
  left:23px;
  top:19px;
  width:373px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1199 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u1200 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1201_img.mouseDown {
}
#u1201.mouseDown {
}
#u1202 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1203 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1203_img.mouseDown {
}
#u1203.mouseDown {
}
#u1204 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1205 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1205_img.mouseDown {
}
#u1205.mouseDown {
}
#u1206 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1207 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1207_img.mouseDown {
}
#u1207.mouseDown {
}
#u1208 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1209 {
  position:absolute;
  left:22px;
  top:668px;
  width:371px;
  height:1px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1211 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1213 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1215 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1217 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220 {
  position:absolute;
  left:143px;
  top:44px;
  width:247px;
  height:38px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  color:#000000;
}
#u1222 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u1223 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:33px;
  color:#000000;
}
#u1224 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u1225 {
  position:absolute;
  left:174px;
  top:79px;
  width:79px;
  height:3px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u1227 {
  position:absolute;
  left:295px;
  top:79px;
  width:79px;
  height:3px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1229 {
  position:absolute;
  left:29px;
  top:26px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1230 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:20px;
  top:141px;
  width:375px;
  height:419px;
  overflow:hidden;
  touch-action:none;
}
#u1231_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:419px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1231_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1232 {
  position:absolute;
  left:6px;
  top:-11px;
  width:365px;
  height:940px;
  overflow:hidden;
}
#u1232_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
}
.u1234 {
  position:absolute;
  left:18px;
  top:8px;
  width:228px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.u1235 {
  position:absolute;
  left:2px;
  top:4px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1236_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:365px;
  height:5px;
}
.u1236 {
  position:absolute;
  left:0px;
  top:122px;
  width:362px;
  height:2px;
}
.u1237 {
  position:absolute;
  left:2px;
  top:-7px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
.u1238 {
  position:absolute;
  left:18px;
  top:33px;
  width:228px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1239 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
.u1240 {
  position:absolute;
  left:18px;
  top:53px;
  width:228px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1241 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
.u1242 {
  position:absolute;
  left:263px;
  top:33px;
  width:79px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
  text-align:right;
}
.u1243 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
.u1244 {
  position:absolute;
  left:18px;
  top:73px;
  width:228px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1245 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
.u1246 {
  position:absolute;
  left:18px;
  top:93px;
  width:228px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1247 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:124px;
}
#u1233-2 {
  position:absolute;
  left:0px;
  top:124px;
  width:362px;
  height:124px;
}
#u1233-3 {
  position:absolute;
  left:0px;
  top:248px;
  width:362px;
  height:124px;
}
#u1233-4 {
  position:absolute;
  left:0px;
  top:372px;
  width:362px;
  height:124px;
}
#u1233-5 {
  position:absolute;
  left:0px;
  top:496px;
  width:362px;
  height:124px;
}
#u1233-6 {
  position:absolute;
  left:0px;
  top:620px;
  width:362px;
  height:124px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1248 {
  position:absolute;
  left:318px;
  top:562px;
  width:50px;
  height:50px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:123px;
}
#u1251 {
  position:absolute;
  left:29px;
  top:437px;
  width:356px;
  height:123px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:54px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1253 {
  position:absolute;
  left:138px;
  top:479px;
  width:40px;
  height:40px;
  font-size:11px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:-34px;
  width:36px;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1255 {
  position:absolute;
  left:56px;
  top:476px;
  width:45px;
  height:45px;
  font-size:11px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:-24px;
  width:41px;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
}
#u1257 {
  position:absolute;
  left:31px;
  top:438px;
  width:77px;
  height:26px;
  color:#FF0000;
}
#u1258 {
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1260 {
  position:absolute;
  left:360px;
  top:99px;
  width:15px;
  height:15px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1262 {
  position:absolute;
  left:30px;
  top:92px;
  width:362px;
  height:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1263 {
  position:absolute;
  left:2px;
  top:4px;
  width:358px;
  word-wrap:break-word;
}
