body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:21px;
  top:80px;
  width:376px;
  height:5px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1048_img.mouseDown {
}
#u1048.mouseDown {
}
#u1049 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1050 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1050_img.mouseDown {
}
#u1050.mouseDown {
}
#u1051 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1052 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1052_img.mouseDown {
}
#u1052.mouseDown {
}
#u1053 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1054 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1054_img.mouseDown {
}
#u1054.mouseDown {
}
#u1055 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1056 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1058 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1060 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1062 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1064 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:22px;
  top:47px;
  width:376px;
  height:38px;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1067_img.mouseDown {
}
#u1067.mouseDown {
}
#u1067_img.selected {
}
#u1067.selected {
}
#u1068 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1069 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1069_img.mouseDown {
}
#u1069.mouseDown {
}
#u1069_img.selected {
}
#u1069.selected {
}
#u1070 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u1071 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:33px;
  color:#000000;
}
#u1071_img.mouseDown {
}
#u1071.mouseDown {
}
#u1071_img.selected {
}
#u1071.selected {
}
#u1072 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1073 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1074 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
