body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1379 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1380 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1381 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1382_img.mouseDown {
}
#u1382.mouseDown {
}
#u1383 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1384 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1384_img.mouseDown {
}
#u1384.mouseDown {
}
#u1385 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1386 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1386_img.mouseDown {
}
#u1386.mouseDown {
}
#u1387 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1388 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1388_img.mouseDown {
}
#u1388.mouseDown {
}
#u1389 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1390 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1392 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1394 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1396 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1398 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1400 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:22px;
  top:46px;
  width:372px;
  height:69px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:26px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:22px;
  top:79px;
  width:376px;
  height:5px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1406 {
  position:absolute;
  left:37px;
  top:55px;
  width:348px;
  height:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1407 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1408 {
  position:absolute;
  left:43px;
  top:58px;
  width:15px;
  height:15px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410 {
  position:absolute;
  left:20px;
  top:86px;
  width:375px;
  height:514px;
  overflow:hidden;
  touch-action:none;
}
#u1410_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:514px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1410_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1411 {
  position:absolute;
  left:6px;
  top:-11px;
  width:365px;
  height:940px;
  overflow:hidden;
}
#u1411_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1411_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
}
.u1413 {
  position:absolute;
  left:21px;
  top:10px;
  width:262px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
.u1414 {
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1415_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:366px;
  height:5px;
}
.u1415 {
  position:absolute;
  left:0px;
  top:105px;
  width:363px;
  height:2px;
}
.u1416 {
  position:absolute;
  left:2px;
  top:-7px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1417 {
  position:absolute;
  left:21px;
  top:53px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1418 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u1419 {
  position:absolute;
  left:296px;
  top:16px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1420 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1421 {
  position:absolute;
  left:21px;
  top:35px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1422 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1423 {
  position:absolute;
  left:21px;
  top:73px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1424 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1425 {
  position:absolute;
  left:9px;
  top:0px;
  width:354px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1412-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:107px;
}
#u1412-2 {
  position:absolute;
  left:0px;
  top:107px;
  width:363px;
  height:107px;
}
#u1412-3 {
  position:absolute;
  left:0px;
  top:214px;
  width:363px;
  height:107px;
}
#u1412-4 {
  position:absolute;
  left:0px;
  top:321px;
  width:363px;
  height:107px;
}
#u1412-5 {
  position:absolute;
  left:0px;
  top:428px;
  width:363px;
  height:107px;
}
#u1412-6 {
  position:absolute;
  left:0px;
  top:535px;
  width:363px;
  height:107px;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
