body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1497 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1499 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1500 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1501 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1502_img.mouseDown {
}
#u1502.mouseDown {
}
#u1503 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1504 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1504_img.mouseDown {
}
#u1504.mouseDown {
}
#u1505 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1506 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1506_img.mouseDown {
}
#u1506.mouseDown {
}
#u1507 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1508 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1508_img.mouseDown {
}
#u1508.mouseDown {
}
#u1509 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1510 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1512 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1514 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1516 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1518 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1520 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1521 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1522 {
  position:absolute;
  left:22px;
  top:46px;
  width:372px;
  height:69px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:26px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1524 {
  position:absolute;
  left:22px;
  top:79px;
  width:376px;
  height:5px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1526 {
  position:absolute;
  left:37px;
  top:55px;
  width:348px;
  height:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1527 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1528 {
  position:absolute;
  left:43px;
  top:58px;
  width:15px;
  height:15px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530 {
  position:absolute;
  left:20px;
  top:86px;
  width:375px;
  height:514px;
  overflow:hidden;
  touch-action:none;
}
#u1530_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:514px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1530_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1531 {
  position:absolute;
  left:6px;
  top:-11px;
  width:365px;
  height:940px;
  overflow:hidden;
}
#u1531_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1531_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
}
.u1533 {
  position:absolute;
  left:21px;
  top:10px;
  width:262px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
.u1534 {
  position:absolute;
  left:2px;
  top:4px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1535_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:366px;
  height:5px;
}
.u1535 {
  position:absolute;
  left:0px;
  top:105px;
  width:363px;
  height:2px;
}
.u1536 {
  position:absolute;
  left:2px;
  top:-7px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1537 {
  position:absolute;
  left:21px;
  top:53px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1538 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u1539 {
  position:absolute;
  left:296px;
  top:16px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1540 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1541 {
  position:absolute;
  left:21px;
  top:35px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1542 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
.u1543 {
  position:absolute;
  left:21px;
  top:73px;
  width:262px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1544 {
  position:absolute;
  left:2px;
  top:2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1545 {
  position:absolute;
  left:9px;
  top:0px;
  width:354px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1532-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:107px;
}
#u1532-2 {
  position:absolute;
  left:0px;
  top:107px;
  width:363px;
  height:107px;
}
#u1532-3 {
  position:absolute;
  left:0px;
  top:214px;
  width:363px;
  height:107px;
}
#u1532-4 {
  position:absolute;
  left:0px;
  top:321px;
  width:363px;
  height:107px;
}
#u1532-5 {
  position:absolute;
  left:0px;
  top:428px;
  width:363px;
  height:107px;
}
#u1532-6 {
  position:absolute;
  left:0px;
  top:535px;
  width:363px;
  height:107px;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
