body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u1653 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u1655 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u1656 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u1657 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1659 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1661 {
  position:absolute;
  left:21px;
  top:84px;
  width:373px;
  height:1px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u1663 {
  position:absolute;
  left:156px;
  top:51px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u1664 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1665 {
  position:absolute;
  left:34px;
  top:185px;
  width:360px;
  height:1px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1667 {
  position:absolute;
  left:34px;
  top:245px;
  width:362px;
  height:1px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1669 {
  position:absolute;
  left:34px;
  top:305px;
  width:360px;
  height:1px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671 {
  position:absolute;
  left:34px;
  top:125px;
  width:359px;
  height:60px;
}
#u1671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1672 {
  position:absolute;
  left:34px;
  top:124px;
  width:360px;
  height:1px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674 {
  position:absolute;
  left:34px;
  top:186px;
  width:360px;
  height:59px;
}
#u1674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1675 {
  position:absolute;
  left:34px;
  top:245px;
  width:359px;
  height:60px;
}
#u1675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1676 {
  position:absolute;
  left:34px;
  top:245px;
  width:360px;
  height:1px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
}
#u1678 {
  position:absolute;
  left:34px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1680 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u1681 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#EB9D14;
  text-align:right;
}
#u1682 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
