body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u2013 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u2015 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u2016 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u2017 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2019 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u2021 {
  position:absolute;
  left:21px;
  top:84px;
  width:373px;
  height:1px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u2023 {
  position:absolute;
  left:156px;
  top:51px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u2024 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2025 {
  position:absolute;
  left:34px;
  top:185px;
  width:360px;
  height:1px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u2027 {
  position:absolute;
  left:34px;
  top:245px;
  width:362px;
  height:1px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2029 {
  position:absolute;
  left:34px;
  top:305px;
  width:360px;
  height:1px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031 {
  position:absolute;
  left:34px;
  top:125px;
  width:359px;
  height:60px;
}
#u2031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2032 {
  position:absolute;
  left:34px;
  top:124px;
  width:360px;
  height:1px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034 {
  position:absolute;
  left:34px;
  top:186px;
  width:360px;
  height:59px;
}
#u2034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2035 {
  position:absolute;
  left:34px;
  top:245px;
  width:359px;
  height:60px;
}
#u2035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2036 {
  position:absolute;
  left:34px;
  top:245px;
  width:360px;
  height:1px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
}
#u2038 {
  position:absolute;
  left:34px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2040 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u2041 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#EB9D14;
  text-align:right;
}
#u2042 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
