body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u2062 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u2064 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u2065 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u2066 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u2070 {
  position:absolute;
  left:21px;
  top:84px;
  width:373px;
  height:1px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u2072 {
  position:absolute;
  left:156px;
  top:51px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u2073 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2074 {
  position:absolute;
  left:34px;
  top:185px;
  width:360px;
  height:1px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u2076 {
  position:absolute;
  left:34px;
  top:245px;
  width:362px;
  height:1px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2078 {
  position:absolute;
  left:34px;
  top:305px;
  width:360px;
  height:1px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:34px;
  top:125px;
  width:359px;
  height:60px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2081 {
  position:absolute;
  left:34px;
  top:124px;
  width:360px;
  height:1px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083 {
  position:absolute;
  left:34px;
  top:186px;
  width:360px;
  height:59px;
}
#u2083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2084 {
  position:absolute;
  left:34px;
  top:245px;
  width:359px;
  height:60px;
}
#u2084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2085 {
  position:absolute;
  left:34px;
  top:245px;
  width:360px;
  height:1px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
}
#u2087 {
  position:absolute;
  left:34px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2089 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u2090 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#EB9D14;
  text-align:right;
}
#u2091 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
