body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u675 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:21px;
  top:20px;
  width:373px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u678 {
  position:absolute;
  left:169px;
  top:97px;
  width:72px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:30px;
}
#u680 {
  position:absolute;
  left:86px;
  top:146px;
  width:16px;
  height:20px;
}
#u681 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u682 {
  position:absolute;
  left:112px;
  top:146px;
  width:164px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u684 {
  position:absolute;
  left:50px;
  top:269px;
  width:319px;
  height:34px;
  text-align:left;
}
#u685 {
  position:absolute;
  left:2px;
  top:9px;
  width:315px;
  word-wrap:break-word;
}
#u686 {
  position:absolute;
  left:171px;
  top:278px;
  width:45px;
  height:16px;
}
#u687 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u688 {
  position:absolute;
  left:226px;
  top:278px;
  width:45px;
  height:16px;
}
#u689 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u688_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u690_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:188px;
  height:6px;
}
#u690 {
  position:absolute;
  left:112px;
  top:165px;
  width:185px;
  height:3px;
}
#u691 {
  position:absolute;
  left:2px;
  top:-6px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:112px;
  top:175px;
  width:270px;
  height:47px;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u694 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u695 {
  position:absolute;
  left:70px;
  top:0px;
  width:195px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u697 {
  position:absolute;
  left:0px;
  top:14px;
  width:70px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u698 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u699 {
  position:absolute;
  left:70px;
  top:14px;
  width:195px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u700 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u701 {
  position:absolute;
  left:0px;
  top:28px;
  width:70px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u702 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u703 {
  position:absolute;
  left:70px;
  top:28px;
  width:195px;
  height:14px;
  font-size:8px;
  text-align:left;
}
#u704 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u705 {
  position:absolute;
  left:50px;
  top:335px;
  width:318px;
  height:34px;
  text-align:left;
}
#u706 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:170px;
  top:344px;
  width:45px;
  height:16px;
}
#u708 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u707_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u709 {
  position:absolute;
  left:225px;
  top:344px;
  width:45px;
  height:16px;
}
#u710 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u709_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u711 {
  position:absolute;
  left:318px;
  top:279px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u713 {
  position:absolute;
  left:323px;
  top:345px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u715 {
  position:absolute;
  left:21px;
  top:54px;
  width:369px;
  height:33px;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u716_img.mouseDown {
}
#u716.mouseDown {
}
#u716_img.selected {
}
#u716.selected {
}
#u717 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u718 {
  position:absolute;
  left:182px;
  top:0px;
  width:182px;
  height:28px;
}
#u718_img.mouseDown {
}
#u718.mouseDown {
}
#u719 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u720 {
  position:absolute;
  left:289px;
  top:275px;
  width:25px;
  height:25px;
}
#u721 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u722 {
  position:absolute;
  left:289px;
  top:339px;
  width:25px;
  height:25px;
}
#u723 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u725_img.mouseDown {
}
#u725.mouseDown {
}
#u726 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u727 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u727_img.mouseDown {
}
#u727.mouseDown {
}
#u728 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u729 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u729_img.mouseDown {
}
#u729.mouseDown {
}
#u730 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u731 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u731_img.mouseDown {
}
#u731.mouseDown {
}
#u732 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u733 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u734 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u735 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u736 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u737 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u738 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u739 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u740 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u741 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u742 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
