body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u698 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:21px;
  top:22px;
  width:373px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u701 {
  position:absolute;
  left:169px;
  top:129px;
  width:72px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u703_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:30px;
}
#u703 {
  position:absolute;
  left:86px;
  top:178px;
  width:16px;
  height:20px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u705 {
  position:absolute;
  left:112px;
  top:178px;
  width:108px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u707 {
  position:absolute;
  left:50px;
  top:234px;
  width:319px;
  height:34px;
  text-align:left;
}
#u708 {
  position:absolute;
  left:2px;
  top:9px;
  width:315px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:2px;
}
#u709 {
  position:absolute;
  left:112px;
  top:197px;
  width:185px;
  height:1px;
}
#u710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u711 {
  position:absolute;
  left:50px;
  top:300px;
  width:318px;
  height:34px;
  text-align:left;
}
#u712 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u713 {
  position:absolute;
  left:318px;
  top:244px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u715 {
  position:absolute;
  left:323px;
  top:310px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u717 {
  position:absolute;
  left:289px;
  top:240px;
  width:25px;
  height:25px;
}
#u718 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u719 {
  position:absolute;
  left:289px;
  top:304px;
  width:25px;
  height:25px;
}
#u720 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u722_img.mouseDown {
}
#u722.mouseDown {
}
#u723 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u724 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u724_img.mouseDown {
}
#u724.mouseDown {
}
#u725 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u726 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u726_img.mouseDown {
}
#u726.mouseDown {
}
#u727 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u728 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u728_img.mouseDown {
}
#u728.mouseDown {
}
#u729 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u730 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u732 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u734 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u736 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u737 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u738 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u739 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741 {
  position:absolute;
  left:30px;
  top:54px;
  width:361px;
  height:33px;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  font-size:12px;
}
#u742_img.mouseDown {
}
#u742.mouseDown {
}
#u742_img.selected {
}
#u742.selected {
}
#u743 {
  position:absolute;
  left:2px;
  top:6px;
  width:174px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
}
#u744 {
  position:absolute;
  left:178px;
  top:0px;
  width:178px;
  height:28px;
  font-size:12px;
}
#u744_img.mouseDown {
}
#u744.mouseDown {
}
#u745 {
  position:absolute;
  left:2px;
  top:6px;
  width:174px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u746 {
  position:absolute;
  left:77px;
  top:82px;
  width:79px;
  height:3px;
}
#u747 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u748 {
  position:absolute;
  left:259px;
  top:82px;
  width:79px;
  height:3px;
}
#u749 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
