body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1644 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1646 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1647 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1648 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1649_img.mouseDown {
}
#u1649.mouseDown {
}
#u1650 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1651 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1651_img.mouseDown {
}
#u1651.mouseDown {
}
#u1652 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1653 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1653_img.mouseDown {
}
#u1653.mouseDown {
}
#u1654 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1655 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1655_img.mouseDown {
}
#u1655.mouseDown {
}
#u1656 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1657 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1659 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1661 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1663 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1665 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667 {
  position:absolute;
  left:22px;
  top:47px;
  width:376px;
  height:38px;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1668_img.mouseDown {
}
#u1668.mouseDown {
}
#u1668_img.selected {
}
#u1668.selected {
}
#u1669 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1670 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1670_img.mouseDown {
}
#u1670.mouseDown {
}
#u1670_img.selected {
}
#u1670.selected {
}
#u1671 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u1672 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:33px;
  color:#000000;
}
#u1672_img.mouseDown {
}
#u1672.mouseDown {
}
#u1672_img.selected {
}
#u1672.selected {
}
#u1673 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1674 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1675 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1676 {
  position:absolute;
  left:22px;
  top:46px;
  width:372px;
  height:83px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:34px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1678 {
  position:absolute;
  left:29px;
  top:73px;
  width:124px;
  height:25px;
  font-size:8px;
  color:#999999;
  text-align:left;
}
#u1679 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u1680 {
  position:absolute;
  left:29px;
  top:54px;
  width:201px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
  text-align:left;
}
#u1681 {
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1682 {
  position:absolute;
  left:368px;
  top:62px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684 {
  position:absolute;
  left:24px;
  top:136px;
  width:367px;
  height:461px;
  overflow:hidden;
  touch-action:none;
}
#u1684_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:461px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1684_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:2px;
  width:367px;
  height:600px;
  overflow:hidden;
  touch-action:none;
}
#u1685_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1685_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687 {
  position:absolute;
  left:214px;
  top:-692px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1688-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688 {
  position:absolute;
  left:386px;
  top:35px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:389px;
}
#u1689 {
  position:absolute;
  left:8px;
  top:35px;
  width:351px;
  height:389px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:142px;
  width:347px;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.647058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1691 {
  position:absolute;
  left:4px;
  top:4px;
  width:362px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1692 {
  position:absolute;
  left:2px;
  top:4px;
  width:358px;
  word-wrap:break-word;
}
#u1693 {
  position:absolute;
  left:8px;
  top:436px;
  width:356px;
  height:151px;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u1694 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1695 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u1696 {
  position:absolute;
  left:80px;
  top:0px;
  width:97px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1697 {
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
}
#u1698 {
  position:absolute;
  left:177px;
  top:0px;
  width:174px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1699 {
  position:absolute;
  left:2px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:23px;
  width:80px;
  height:30px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1701 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1702 {
  position:absolute;
  left:80px;
  top:23px;
  width:97px;
  height:30px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1703 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u1704 {
  position:absolute;
  left:177px;
  top:23px;
  width:174px;
  height:30px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1705 {
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:53px;
  width:80px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1707 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u1708 {
  position:absolute;
  left:80px;
  top:53px;
  width:97px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1709 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u1710 {
  position:absolute;
  left:177px;
  top:53px;
  width:174px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1711 {
  position:absolute;
  left:2px;
  top:9px;
  width:170px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u1712 {
  position:absolute;
  left:0px;
  top:84px;
  width:80px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1713 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u1714 {
  position:absolute;
  left:80px;
  top:84px;
  width:97px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1715 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u1716 {
  position:absolute;
  left:177px;
  top:84px;
  width:174px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1717 {
  position:absolute;
  left:2px;
  top:9px;
  width:170px;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u1718 {
  position:absolute;
  left:0px;
  top:115px;
  width:80px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u1719 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u1720 {
  position:absolute;
  left:80px;
  top:115px;
  width:97px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1721 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:31px;
}
#u1722 {
  position:absolute;
  left:177px;
  top:115px;
  width:174px;
  height:31px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u1723 {
  position:absolute;
  left:2px;
  top:9px;
  width:170px;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1724 {
  position:absolute;
  left:331px;
  top:550px;
  width:50px;
  height:50px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1726 {
  position:absolute;
  left:22px;
  top:104px;
  width:373px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1727 {
  position:absolute;
  left:2px;
  top:7px;
  width:369px;
  word-wrap:break-word;
}
