body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1242 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1244 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1245_img.mouseDown {
}
#u1245.mouseDown {
}
#u1246 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1247 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1247_img.mouseDown {
}
#u1247.mouseDown {
}
#u1248 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1249 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1249_img.mouseDown {
}
#u1249.mouseDown {
}
#u1250 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1251 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1251_img.mouseDown {
}
#u1251.mouseDown {
}
#u1252 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1253 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1255 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1257 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1259 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1261 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263 {
  position:absolute;
  left:22px;
  top:47px;
  width:376px;
  height:38px;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1264_img.mouseDown {
}
#u1264.mouseDown {
}
#u1264_img.selected {
}
#u1264.selected {
}
#u1265 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1266 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1266_img.mouseDown {
}
#u1266.mouseDown {
}
#u1266_img.selected {
}
#u1266.selected {
}
#u1267 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u1268 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:33px;
  color:#000000;
}
#u1268_img.mouseDown {
}
#u1268.mouseDown {
}
#u1268_img.selected {
}
#u1268.selected {
}
#u1269 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1270 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  position:absolute;
  left:22px;
  top:46px;
  width:372px;
  height:90px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:37px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1274 {
  position:absolute;
  left:29px;
  top:104px;
  width:124px;
  height:25px;
  font-size:8px;
  color:#999999;
  text-align:left;
}
#u1275 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u1276 {
  position:absolute;
  left:29px;
  top:85px;
  width:201px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
  text-align:left;
}
#u1277 {
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u1278 {
  position:absolute;
  left:29px;
  top:151px;
  width:355px;
  height:145px;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1280 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1281 {
  position:absolute;
  left:88px;
  top:0px;
  width:262px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:35px;
  width:88px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1284 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1285 {
  position:absolute;
  left:88px;
  top:35px;
  width:262px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1286 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:70px;
  width:88px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1289 {
  position:absolute;
  left:88px;
  top:70px;
  width:262px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:105px;
  width:88px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1293 {
  position:absolute;
  left:88px;
  top:105px;
  width:262px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1294 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1295 {
  position:absolute;
  left:368px;
  top:93px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1297 {
  position:absolute;
  left:23px;
  top:572px;
  width:373px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1298 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1299 {
  position:absolute;
  left:22px;
  top:138px;
  width:376px;
  height:5px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1301 {
  position:absolute;
  left:37px;
  top:55px;
  width:348px;
  height:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1302 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1303 {
  position:absolute;
  left:43px;
  top:58px;
  width:15px;
  height:15px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
