body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u955 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:2px;
  top:6px;
  width:370px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:4px;
  background:-webkit-linear-gradient(270deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:21px;
  top:80px;
  width:376px;
  height:4px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u961_img.mouseDown {
}
#u961.mouseDown {
}
#u962 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u963 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u963_img.mouseDown {
}
#u963.mouseDown {
}
#u964 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u965 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u965_img.mouseDown {
}
#u965.mouseDown {
}
#u966 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u967 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u967_img.mouseDown {
}
#u967.mouseDown {
}
#u968 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u969 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u971 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u973 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u975 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u977 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u978 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:22px;
  top:47px;
  width:376px;
  height:38px;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u980_img.mouseDown {
}
#u980.mouseDown {
}
#u980_img.selected {
}
#u980.selected {
}
#u981 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u982 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u982_img.mouseDown {
}
#u982.mouseDown {
}
#u982_img.selected {
}
#u982.selected {
}
#u983 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u984 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:33px;
  color:#000000;
}
#u984_img.mouseDown {
}
#u984.mouseDown {
}
#u984_img.selected {
}
#u984.selected {
}
#u985 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u986 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:4px;
  background:-webkit-linear-gradient(270deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:20px;
  top:44px;
  width:376px;
  height:4px;
}
#u989 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:20px;
  top:96px;
  width:375px;
  height:504px;
  overflow:hidden;
  touch-action:none;
}
#u990_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:504px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u991 {
  position:absolute;
  left:6px;
  top:-11px;
  width:365px;
  height:940px;
  overflow:hidden;
}
#u991_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u991_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
.u993 {
  position:absolute;
  left:152px;
  top:10px;
  width:183px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.u994 {
  position:absolute;
  left:2px;
  top:4px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:110px;
}
.u995 {
  position:absolute;
  left:40px;
  top:12px;
  width:103px;
  height:110px;
}
.u996 {
  position:absolute;
  left:2px;
  top:47px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
.u997_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:365px;
  height:5px;
}
.u997 {
  position:absolute;
  left:0px;
  top:176px;
  width:362px;
  height:2px;
}
.u998 {
  position:absolute;
  left:2px;
  top:-7px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
.u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u999 {
  position:absolute;
  left:152px;
  top:75px;
  width:183px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1000 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u1001 {
  position:absolute;
  left:152px;
  top:95px;
  width:183px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1002 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u1003 {
  position:absolute;
  left:152px;
  top:35px;
  width:183px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1004 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u1005 {
  position:absolute;
  left:152px;
  top:55px;
  width:183px;
  height:20px;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1006 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u1007 {
  position:absolute;
  left:152px;
  top:115px;
  width:183px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1008 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
.u1009 {
  position:absolute;
  left:152px;
  top:135px;
  width:183px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:left;
}
.u1010 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:178px;
}
#u992-2 {
  position:absolute;
  left:0px;
  top:178px;
  width:362px;
  height:178px;
}
#u992-3 {
  position:absolute;
  left:0px;
  top:356px;
  width:362px;
  height:178px;
}
#u992-4 {
  position:absolute;
  left:0px;
  top:534px;
  width:362px;
  height:178px;
}
#u992-5 {
  position:absolute;
  left:0px;
  top:712px;
  width:362px;
  height:178px;
}
#u992-6 {
  position:absolute;
  left:0px;
  top:890px;
  width:362px;
  height:178px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:1068px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
