body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u898 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:34px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:20px;
  top:21px;
  width:374px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:2px;
  top:9px;
  width:370px;
  word-wrap:break-word;
}
#u901 {
  position:absolute;
  left:21px;
  top:111px;
  width:372px;
  height:351px;
  overflow:hidden;
}
#u901_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:351px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u901_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1750px;
  overflow:hidden;
  touch-action:none;
}
#u902_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1750px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u902_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  font-size:11px;
}
#u903_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u903.mouseDown {
}
#u904 {
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u905 {
  position:absolute;
  left:29px;
  top:29px;
  width:14px;
  height:19px;
  font-size:12px;
  color:#FFFFFF;
}
#u906 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u907 {
  position:absolute;
  left:25px;
  top:462px;
  width:370px;
  height:1px;
}
#u908 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u909 {
  position:absolute;
  left:30px;
  top:470px;
  width:59px;
  height:47px;
  font-size:10px;
}
#u910 {
  position:absolute;
  left:2px;
  top:-16px;
  width:55px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
}
#u911 {
  position:absolute;
  left:22px;
  top:551px;
  width:370px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:2px;
  top:8px;
  width:366px;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u914_img.mouseDown {
}
#u914.mouseDown {
}
#u915 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u916 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u916_img.mouseDown {
}
#u916.mouseDown {
}
#u917 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u918 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u918_img.mouseDown {
}
#u918.mouseDown {
}
#u919 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u920 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u920_img.mouseDown {
}
#u920.mouseDown {
}
#u921 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u922 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u924 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u926 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u928 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u930 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u931 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:35px;
}
#u932 {
  position:absolute;
  left:22px;
  top:57px;
  width:370px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u933 {
  position:absolute;
  left:2px;
  top:8px;
  width:366px;
  word-wrap:break-word;
}
