body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:20px;
  top:21px;
  width:375px;
  height:640px;
}
#u889 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:34px;
  background:inherit;
  background-color:rgba(62, 173, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:20px;
  top:21px;
  width:374px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u891 {
  position:absolute;
  left:2px;
  top:9px;
  width:370px;
  word-wrap:break-word;
}
#u892 {
  position:absolute;
  left:21px;
  top:95px;
  width:372px;
  height:331px;
  overflow:hidden;
}
#u892_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:331px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u892_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1750px;
  overflow:hidden;
  touch-action:none;
}
#u893_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1750px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u893_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  font-size:11px;
}
#u894_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u894.mouseDown {
}
#u895 {
  position:absolute;
  left:2px;
  top:2px;
  width:368px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u896 {
  position:absolute;
  left:29px;
  top:29px;
  width:14px;
  height:19px;
  font-size:12px;
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u898 {
  position:absolute;
  left:22px;
  top:92px;
  width:370px;
  height:1px;
}
#u899 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u900 {
  position:absolute;
  left:25px;
  top:461px;
  width:370px;
  height:1px;
}
#u901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u902 {
  position:absolute;
  left:30px;
  top:470px;
  width:59px;
  height:47px;
  font-size:10px;
}
#u903 {
  position:absolute;
  left:2px;
  top:-16px;
  width:55px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
}
#u904 {
  position:absolute;
  left:22px;
  top:567px;
  width:370px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u905 {
  position:absolute;
  left:2px;
  top:8px;
  width:366px;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u907_img.mouseDown {
}
#u907.mouseDown {
}
#u908 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u909 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u909_img.mouseDown {
}
#u909.mouseDown {
}
#u910 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u911 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u911_img.mouseDown {
}
#u911.mouseDown {
}
#u912 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u913 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u913_img.mouseDown {
}
#u913.mouseDown {
}
#u914 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u915 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u917 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u918 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u919 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u920 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u921 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u922 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u923 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u924 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
