body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1428 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1429 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u1430 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1431_img.mouseDown {
}
#u1431.mouseDown {
}
#u1432 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1433 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1433_img.mouseDown {
}
#u1433.mouseDown {
}
#u1434 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1435 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1435_img.mouseDown {
}
#u1435.mouseDown {
}
#u1436 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1437 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1437_img.mouseDown {
}
#u1437.mouseDown {
}
#u1438 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1439 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1441 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1443 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1445 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1447 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449 {
  position:absolute;
  left:22px;
  top:47px;
  width:376px;
  height:38px;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1450_img.mouseDown {
}
#u1450.mouseDown {
}
#u1450_img.selected {
}
#u1450.selected {
}
#u1451 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u1452 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:33px;
  color:#000000;
}
#u1452_img.mouseDown {
}
#u1452.mouseDown {
}
#u1452_img.selected {
}
#u1452.selected {
}
#u1453 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u1454 {
  position:absolute;
  left:248px;
  top:0px;
  width:123px;
  height:33px;
  color:#000000;
}
#u1454_img.mouseDown {
}
#u1454.mouseDown {
}
#u1454_img.selected {
}
#u1454.selected {
}
#u1455 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1456 {
  position:absolute;
  left:29px;
  top:27px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1457 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:22px;
  top:46px;
  width:372px;
  height:69px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:26px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1460 {
  position:absolute;
  left:29px;
  top:73px;
  width:124px;
  height:25px;
  font-size:8px;
  color:#999999;
  text-align:left;
}
#u1461 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u1462 {
  position:absolute;
  left:29px;
  top:54px;
  width:201px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
  text-align:left;
}
#u1463 {
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u1464 {
  position:absolute;
  left:29px;
  top:128px;
  width:355px;
  height:110px;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1466 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1467 {
  position:absolute;
  left:88px;
  top:0px;
  width:262px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1468 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1469 {
  position:absolute;
  left:0px;
  top:35px;
  width:88px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1470 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1471 {
  position:absolute;
  left:88px;
  top:35px;
  width:262px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1472 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1473 {
  position:absolute;
  left:0px;
  top:70px;
  width:88px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1474 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
}
#u1475 {
  position:absolute;
  left:88px;
  top:70px;
  width:262px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u1476 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1477 {
  position:absolute;
  left:368px;
  top:62px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1479 {
  position:absolute;
  left:23px;
  top:572px;
  width:373px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1480 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  word-wrap:break-word;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(25, 158, 216, 1) 0%, rgba(25, 158, 216, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  position:absolute;
  left:22px;
  top:115px;
  width:376px;
  height:5px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1483 {
  position:absolute;
  left:29px;
  top:89px;
  width:124px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#999999;
  text-align:left;
}
#u1484 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
