body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:21px;
  top:18px;
  width:375px;
  height:640px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1306 {
  position:absolute;
  left:22px;
  top:19px;
  width:374px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1307 {
  position:absolute;
  left:2px;
  top:6px;
  width:370px;
  word-wrap:break-word;
}
#u1308 {
  position:absolute;
  left:23px;
  top:610px;
  width:367px;
  height:52px;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1309_img.mouseDown {
}
#u1309.mouseDown {
}
#u1310 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1311 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1311_img.mouseDown {
}
#u1311.mouseDown {
}
#u1312 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u1313 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1313_img.mouseDown {
}
#u1313.mouseDown {
}
#u1314 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u1315 {
  position:absolute;
  left:273px;
  top:0px;
  width:89px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1315_img.mouseDown {
}
#u1315.mouseDown {
}
#u1316 {
  position:absolute;
  left:2px;
  top:30px;
  width:85px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1317 {
  position:absolute;
  left:22px;
  top:610px;
  width:371px;
  height:1px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1319 {
  position:absolute;
  left:236px;
  top:610px;
  width:30px;
  height:30px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1321 {
  position:absolute;
  left:145px;
  top:610px;
  width:30px;
  height:30px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1323 {
  position:absolute;
  left:50px;
  top:609px;
  width:30px;
  height:30px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u1325 {
  position:absolute;
  left:334px;
  top:612px;
  width:18px;
  height:28px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1327 {
  position:absolute;
  left:29px;
  top:26px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:22px;
  top:45px;
  width:372px;
  height:68px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:26px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u1331 {
  position:absolute;
  left:29px;
  top:50px;
  width:201px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#3EADE9;
  text-align:left;
}
#u1332 {
  position:absolute;
  left:2px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1333 {
  position:absolute;
  left:29px;
  top:66px;
  width:124px;
  height:25px;
  font-size:8px;
  color:#999999;
  text-align:left;
}
#u1334 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u1335 {
  position:absolute;
  left:29px;
  top:85px;
  width:124px;
  height:25px;
  font-size:9px;
  text-align:left;
}
#u1336 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1337 {
  position:absolute;
  left:367px;
  top:66px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:absolute;
  left:30px;
  top:113px;
  width:355px;
  height:157px;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1341 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1342 {
  position:absolute;
  left:88px;
  top:0px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1343 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1345 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1346 {
  position:absolute;
  left:88px;
  top:30px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1347 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1348 {
  position:absolute;
  left:0px;
  top:60px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1349 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1350 {
  position:absolute;
  left:88px;
  top:60px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1351 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:90px;
  width:88px;
  height:31px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1353 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:31px;
}
#u1354 {
  position:absolute;
  left:88px;
  top:90px;
  width:262px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u1355 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:121px;
  width:88px;
  height:31px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1357 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:31px;
}
#u1358 {
  position:absolute;
  left:88px;
  top:121px;
  width:262px;
  height:31px;
  font-size:11px;
  color:#999999;
}
#u1359 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  position:absolute;
  left:21px;
  top:266px;
  width:374px;
  height:5px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
}
#u1362 {
  position:absolute;
  left:27px;
  top:385px;
  width:300px;
  height:27px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1363 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1364 {
  position:absolute;
  left:32px;
  top:422px;
  width:50px;
  height:50px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  position:absolute;
  left:30px;
  top:280px;
  width:355px;
  height:95px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1368 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1369 {
  position:absolute;
  left:88px;
  top:0px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1370 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1372 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1373 {
  position:absolute;
  left:88px;
  top:30px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1374 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:60px;
  width:88px;
  height:30px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1376 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1377 {
  position:absolute;
  left:88px;
  top:60px;
  width:262px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u1378 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:5px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:18px;
  top:378px;
  width:374px;
  height:5px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1381 {
  position:absolute;
  left:22px;
  top:561px;
  width:373px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1382 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
